<div class="blog-page">
    <%= link_to root_path, class: "back-btn" do %>        
        <i class="fas fa-arrow-left"></i>
        <p>back</p>
    <% end%>
    <div class="blog-container">
        <i class="fas fa-user-astronaut"></i>
        <p>You have discovered a secret! All will be revealed soon.</p>
    </div>
</div>