.about-container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8fa;
}

.about-title {
  // initial state
  opacity: 0;
  //
  text-align: center;
  padding: 2rem 2rem;
  border: 4px $text solid;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  h1 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    line-height: 63px;
    margin: 0;
    color: $text;
  }
}

.profile-content {
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
// TODO
.profile-pic {
  // initial state
  opacity: 0;
  //
  margin-top: 4rem;
  height: 180px;
  width: 180px;
  background-image: asset-url("profile.jpg");
  background-size: cover;
  border-radius: 50%;
  background-position: top 10% right 0%;
  //box-shadow: 10px 10px 30px #8b8b99, -10px -10px 30px #fff;
}

.about-description {
  // initial state
  opacity: 0;
  //
  text-align: left;
  margin: 2rem auto;
  padding: 8px 40px;
  color: #a9a9b2;
  p {
    margin: 0;
    letter-spacing: 1.5px;
    line-height: 28px;
  }
}

@media screen and (min-width: 992px) {
  .profile-content {
    flex-direction: row;
  }

  .profile-pic {
    height: 210px;
    width: 140px;
    border-radius: 0px;
    padding: 1rem;
    margin: 0;
    position: relative;
    top: 10rem;
    left: -8.5rem;
    outline: 4px $text solid;
    outline-offset: 1rem;
  }

  .about-title {
    width: 380px;
    padding: 4rem 4rem;
    margin: 4rem;
    font-size: 56px;
    h1 {
      span {
        font-size: 72px;
      }
    }
  }

  .about-description {
    margin: 4rem;
    p {
      width: 380px;
    }
  }
}

// Title Load Animation

.about-title-load {
  animation-name: aboutTitleBorderAppear;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  h1 {
    animation-name: aboutTitleAppear;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
}

.profile-pic-load {
  animation-name: aboutImageAppear;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.about-description-load {
  animation-name: aboutDescAppear;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes aboutTitleBorderAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes aboutTitleAppear {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 100;
    transform: translateX(0px);
  }
}

@keyframes aboutImageAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

@keyframes aboutDescAppear {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 100;
    transform: translateX(0px);
  }
}
