.blog-page {
  background: #f8f8fa;
  color: $text-highlight;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-container {
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  i {
    font-size: 4rem;
  }
  p {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .blog-container {
    i {
      font-size: 8rem;
    }
    p {
      font-size: 2rem;
    }
  }
}
