<div class="about-container">
    
    <div class="profile-content">
        <%= link_to root_path, class: "back-btn" do %>        
            <i class="fas fa-arrow-left"></i>
            <p>back</p>
        <% end%>

        <div class="about-title">
                <h1>A little bit <span>About Me</span></h1>
        </div>
        <div class="profile-pic">
        </div>
        <div class="about-description">
            <p style="margin-bottom: 1rem;">
                Hey! My name is Michael Wang, and I’m a Melbourne-based web developer. 
                I love designing and building interactive web apps, and I always strive to challenge myself and learn new things.
                When I’m not programming I like to “geek” out as well as do a bit of photographer/videography.<br><br> 
                What I love working with:
            </p>
            <p class="tech-stack-heading">Application and Data</p>
            <div class="tech-stack-grid">
                <div><i class="devicon-html5-plain"></i><p>HTML5</p></div>
                <div><i class="devicon-bootstrap-plain"></i><p>Bootstrap</p></div>
                <div><i class="devicon-css3-plain"></i><p>CSS3</p></div>
                <div><i class="devicon-sass-original"></i><p>SaSS</p></div>
                <div><i class="devicon-javascript-plain"></i><p>Javascript</p></div>
                <div><i class="devicon-react-original"></i><p>React.js</p></div>
                <div><i class="devicon-ruby-plain"></i><p>Ruby</p></div>
                <div><i class="devicon-rails-plain"></i><p>Rails</p></div>
                <div><i class="devicon-nodejs-plain"></i><p>Node.js</p></div>
            </div>
            <p class="tech-stack-heading">Development Tools</p>
            <div class="tech-stack-grid">
                <div><i class="devicon-github-plain"></i><p>GitHub</p></div>
                <div><i class="devicon-git-plain"></i><p>Git</p></div>
                <div><i class="devicon-babel-plain"></i></i><p>Git</p></div>
                <div><i class="devicon-webpack-plain"></i><p>Webpack</p></div>
            </div>
            <p class="tech-stack-heading">Business Tools</p>
            <div class="tech-stack-grid">
                <div><i class="devicon-slack-plain"></i><p>Slack</p></div>
                <div><i class="devicon-trello-plain"></i><p>Trello</p></div>
            </div>
        </div>
    </div>
</div>


<!--
    <div class="profile-pic">
    </div>
-->