.project-card {
  width: 16rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.project-card-image {
  // initial state
  opacity: 0;
  //
  width: 225px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.project-card-title {
  // initial state
  opacity: 0;
  //
  text-align: center;
  margin: 2rem auto;
}

@media screen and (min-width: 992px) {
  .project-card {
    width: 20rem;
    height: 20rem;
  }

  .project-card-image {
    width: 300px;
    height: 200px;
  }

  .project-card-title {
    margin: 2rem auto;
  }
}

// Page Load Animation
.project-card-load {
  .project-card-image {
    box-shadow: 5px 5px 20px rgb(200, 200, 200);
    animation-name: imageAppear;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
  }
  .project-card-title {
    animation-name: titleAppear;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
  }
}

@keyframes imageAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 75;
  }
  100% {
    opacity: 100;
  }
}

@keyframes titleAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 75;
  }
  100% {
    opacity: 100;
  }
}
